:root {
    --global-variable: violet;
}

h1 {
    color: var(--global-variable);
}

h2 {
    --local-variable : green;
    color: var(--local-variable);
}

h3 {
    color: var(--global-variable);
}